<nav class="navbar navbar-default navbar-fixed top bg-dark" id="main-nav">
    <div class="container desktop">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'post' %}">Pengfei's Insta Demo</a>
        </div>
        
        <div class="navbar-main" id="navbarmain">
            <ul class="nav navbar-nav navbar-middle">
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="hover-home" href="{% url 'post' %}"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'helloworld'%}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'make_post' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'profile' request.user.pk %}"><i class="fa fa-user"></i></a>
                    </li>
                {% else %}
                    <li>
                        <a class="hover-signin" href="{% url 'login'%}"><i class="fa fa-sign-in"></i><span> SignIn </span></a>
                        
                    </li>
                    <li>
                        <a class="hover-signup" href="{% url 'signup' %}"><i class="fa fa-user-plus"></i><span> Register </span></a>
                        
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div>
                    {% if request.user.is_authenticated %}
                        <div class="greetingText">
                            Hi, {{ request.user.username }}!
                        </div>
                    {% else %}
                        <div style="greetingText">
                            Hi, You can login/register on the left!
                        </div>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>

