<nav class="navbar navbar-default navbar-fixed top bg-dark" id="main-nav">
    <div class="container desktop">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'post' %}">Pengfei's Insta Demo</a>
        </div>
        
        <div class="navbar-main" id="navbarmain">
            <ul class="nav navbar-nav navbar-middle">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'post' %}"><i class="fa fa-home"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'helloworld'%}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'make_post' %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'profile' request.user.pk %}"><i class="fa fa-user"></i></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login'%}"><i class="fa fa-sign-in"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

